.video-section {
  position: relative;
  width: 100%;
  height: 700px; /* fixed height for this section */
  overflow: hidden;
}

.video-section-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* cover container without stretching */
  z-index: 0;
}

.video-section-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 45%;
  font-weight: 500;
  font-size: larger;
  font-family: "Poppins", sans-serif;
  transform: translateY(-50%);
}

.video-section-buttons {
  margin-top: 60px;
}

.video-section-buttons .btn {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 8px;
}

